{{ define "title" }}
{{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <h1 class="title">
    {{ if len .Sections }}
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      Today I Learned
    </a>
    {{ else }}
    <a class="title-link" href="{{ .Permalink | safeURL }}">
      Things I have learned about {{ .Title }}
    </a>
    {{- end -}}
  </h1>
  {{ .Content }}
  {{ if len .Sections }}
  <h2>Topics</h2>
  <ul>
    {{- range .Sections -}}
    <li>
      <span class="date">{{ len .RegularPages }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{- end -}}
  </ul>
  {{ else }}
  <ul>
    {{- range .Paginator.Pages -}}
    {{- .Render "li" -}}
    {{- end -}}
  </ul>
  {{ end }}
  <h2>Recent</h2>
  {{- range ( where site.RegularPages "Section" "til" | first 3 ) }}
  <ul>
    <li>
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      <i>{{ .Parent.Title }}</i>
    </li>
  </ul>
  {{ end }}

  {{ partial "pagination.html" . }}
</section>
{{ end }}